@layout.base()
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS" />
  @endslot
  @slot('main')
    <div class="container">
      <div class="header">
        <h2 style="margin: 0;">
          Verify Email
        </h2>
      </div>
    </div>
  @endslot
@end
